{% extends "base.html" %}
{% block title %}Javier Cristobal{% endblock %}
{% block content %}

<div class="container">
<hr>
<div class="container">
    <hr>
    
    <p>Since I was very young (only six years old), my father who was general manager of Sperry Univac than later become Unisys Corporation, 
      take me from the school to his office and I became to learn to program mainframes.</p>
    <p>I have several courses at Unisys: Unix Administration, mapper, c/c++, Exec, Oracle and many others.</p>
    <p>When the first Spectrum appeared, he bought me programming magazines and I made several games in Basic for the Spectrum.</p>
    <p>I setup my first Limited Liability Business when I was 21, to seel and administration tool for Unix Systems.</p>
    <p>Then I have had always companies which I owned, the latest IOL Enterprises Inc.</p>
    <p>At IOL Enterprises Inc. I setup web servers, vps(s), Clouds, Machine Learning apps and responsive HTML5 designs 
      both in html5 and using the Bootstrap Framework. I also became an expert in Virtualization and Game Programming.</p>
    <p>I take the CS50x course to continue with more courses that provide me with a master certificate in Computer Science. 
      Hopping to improve my knowledge.</p>
    
    <hr>
  
    </div> <!-- /container -->
<hr>
</div> 
<!-- /container -->

{% endblock %}
