{% extends "base.html" %}
{% block title %}Javier Cristobal{% endblock %}
{% block content %}

<div class="container" style="margin-bottom: 70px; margin-top: 70px">
<hr>
<div class="container">
    <hr>
    
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 hovered">
          <h4 class="card-header">Linkedin</h4>
          <div class="card-body">
            <p class="card-text">From here you can see my Linkedin profile.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/javier-cristobal/" class="btn btn-primary target="_blank">Linkedin</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 hovered">
          <h4 class="card-header">Twitter</h4>
          <div class="card-body">
            <p class="card-text">Twitter: @iolenterprises</p>
          </div>
          <div class="card-footer">
            <a href="https://twitter.com/iolenterprises" class="btn btn-primary" target="_blank">Twitter</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 hovered">
          <h4 class="card-header">Facebook</h4>
          <div class="card-body">
            <p class="card-text">Access to my Facebook Account.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.facebook.com/javier.cristobal.toscano" class="btn btn-primary" target="_blank">Facebook</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <hr>
  
    </div> <!-- /container -->
<hr>
</div> 
<!-- /container -->

{% endblock %}
